.rewiews__wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.rewiew__wrap {
  padding: 35px;
  background: rgba(0, 0, 0, 0.16);
  margin: 15px;
  width: 100%;
  max-width: 380px;
  h3 {
    font-size: 24px;
    line-height: 30px;
  }
  p {
    font-size: 14px;
    color: #c4c4c4;
    line-height: 20px !important;
  }
}

.review__form-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 94%;
    #inputOrg,
    #inputRev {
      display: block;
      font-size: 18px;
      margin-bottom: 10px;
      width: 97%;
      height: 30px;
      padding: 8px 12px;
      color: #fff;
      border: none;
      outline: none;
      background: none;
      border-bottom: 2px solid #fff;
      &:focus {
        border-color: #3898ec;
      }
    }
  }
  #inputRev {
    height: 40px !important;
    line-height: 2;
    resize: none;
  }
  .input__btn {
    display: block;
    padding: 9px 15px;
    background-color: #3898ec;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    -webkit-appearance: button;
    height: auto !important;
    width: auto !important;
    margin-right: auto;
  }
  .danger {
    border: 2px solid red !important;
  }
}

.form-submit__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.reviews__container {
  width: 100%;
  max-width: 960px;
}

.noticification__wrap {
  width: 90%;
  padding: 0 20px;
  margin-bottom: 20px;
  border-radius: 7px;
  color: #333;
}

::-webkit-input-placeholder {
  color: #fff;
}
::-moz-placeholder {
  color: #fff;
} /* Firefox 19+ */
:-moz-placeholder {
  color: #fff;
} /* Firefox 18- */
:-ms-input-placeholder {
  color: #fff;
}

.review__form-title {
  font-size: 25px;
  margin: 75px 0;
}
