.faq__question {
  margin: 25px 0 5px 0px;
}

.faq__text {
  color: #efefef;
  font-size: 18px;

  @media (max-width: 500px) {
    font-size: 14px !important;
  }
}

.italic {
  font-style: italic;
}

.bold {
  font-style: bold;
}
