.countries__container {
  width: 100%;
  max-width: 960px;

  p {
    width: auto !important;
    padding: 5px;
    font-size: 14px;
    margin: 0;
    @media (max-width: 700px) {
      font-size: 12px !important;
    }
  }
}

.country-list__wrap-recommended {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 250px;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  @media (max-width: 700px) {
    align-items: flex-start !important;
  }
  p {
    @media (max-width: 700px) {
      font-size: 12px !important;
    }
  }
}

.country-list__wrap {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  transition: all 0.4s ease-out;
  height: 0;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  @media (max-width: 700px) {
    margin: auto;
  }
}

.countries-list__active {
  transition: all 0.4s ease-out;
  height: auto;
  z-index: 100;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 10px;
  max-height: 350px;
}

.open-btn {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  margin-left: 10px;
  cursor: pointer;
  z-index: 0;
}

.county-list__container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  cursor: pointer;
  padding-bottom: 10px;
  @media (max-width: 700px) {
    margin: 15px !important;
  }
}

.countriesCpa__wrap,
.other-countries__wrap {
  display: flex;
  justify-content: space-between;

  margin-bottom: 25px;
  @media (max-width: 700px) {
    flex-direction: column;
    margin-top: 20px !important;
  }
  h3 {
    font-size: 18px;
    margin: 0;
    width: 180px;
  }
  span {
    margin-left: 0 !important;
  }
}

.other-countries__wrap {
  justify-content: space-between;
  margin-top: 20px;
  h3 {
    width: 100%;
    white-space: nowrap;
    @media (max-width: 700px) {
      white-space: pre-wrap !important;
    }
  }
  span {
    margin-left: 10px !important;
  }
}

.content__title {
  color: #00d0a2;
  border-bottom: 2px solid white;
  padding: 0 0 10px 20px;
}

.countries-list-title__active {
  color: #00d0a2;
}

.countries__title {
  font-size: 25px;
  margin-bottom: 40px;
}

.countriesCpa__countainer {
  margin-top: 40px;
}
